<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入Vue -->
    <script src="//vuejs.org/js/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- 引入组件库 -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <title></title>
</head>
<body>

<div id="app">
    <i-select v-model="model1" style="width:200px">
        <i-option v-for="item in cityList" :value="item.value" :key="item">{{ item.label }}</i-option>
    </i-select>
</div>

<script>

    var xx = new Vue({
        el: '#app',
        data: {
            cityList: [
                {
                    value: 'beijing',
                    label: '北京市'
                },
                {
                    value: 'shanghai',
                    label: '上海市'
                },
                {
                    value: 'shenzhen',
                    label: '深圳市'
                },
                {
                    value: 'hangzhou',
                    label: '杭州市'
                },
                {
                    value: 'nanjing',
                    label: '南京市'
                },
                {
                    value: 'chongqing',
                    label: '重庆市'
                }
            ],
            model1: ''
        }
    })
    xx.model1 = 'chongqing';
</script>

</body>
</html>