<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toread.sys.mapper.RoleMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 role_id AS roleId, role_name AS roleName, role_state AS roleState, role_c_time AS roleCTime, role_u_time AS roleUTime
	</sql>

	<select id="queryUserRole" resultType="role" parameterType="role">
		SELECT
		rl.role_id AS roleId, rl.role_name AS roleName, rl.role_state AS roleState, rl.role_c_time AS roleCTime, rl.role_u_time AS roleUTime
		FROM sys_role rl LEFT JOIN sys_user_role ur ON ur.role_id = rl.role_id
		<where>
			ur.user_id = #{id} AND role_state = #{state}
		</where>
	</select>
</mapper>