<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toread.sys.mapper.RoleResourceMenuMapper">
  <resultMap id="BaseResultMap" type="com.toread.sys.entity.RoleResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="res_id" jdbcType="BIGINT" property="resId" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
  </resultMap>
</mapper>