<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toread.sys.mapper.UserDepartmentMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, user_id AS userId, dpt_id AS dptId, c_time AS cTime
	</sql>

</mapper>