<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toread.sys.mapper.UserDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.toread.sys.entity.UserDepartment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="dpt_id" jdbcType="BIGINT" property="dptId" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
  </resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, user_id AS userId, dpt_id AS dptId, c_time AS cTime
	</sql>

</mapper>