<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toread.sys.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.toread.sys.entity.Resource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="res_id" jdbcType="BIGINT" property="resId" />
    <result column="res_type" jdbcType="VARCHAR" property="resType" />
    <result column="res_name" jdbcType="VARCHAR" property="resName" />
    <result column="res_val" jdbcType="VARCHAR" property="resVal" />
    <result column="res_state" jdbcType="VARCHAR" property="resState" />
    <result column="res_c_time" jdbcType="TIMESTAMP" property="resCTime" />
    <result column="res_u_time" jdbcType="TIMESTAMP" property="resUTime" />
  </resultMap>

	<!-- 查询角色拥有的资源-->
	<select id="queryRoleResources" resultType="resource">
        SELECT
		re.res_id AS resId, re.res_type AS resType, re.res_name AS resName,
		re.res_val AS resVal, re.res_state AS resState, re.res_c_time AS resCTime,
		re.res_u_time AS resUTime
		FROM sys_resource re  LEFT JOIN sys_role_resource rl ON re.res_id = rl.res_id
		<where>
            rl.role_id = #{roleId} AND re.res_state = #{state}
		</where>
	</select>
</mapper>